@media (min-width: 768px) {
  .Home {
    box-sizing: border-box;
    max-width: 60%;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem 2rem 1rem;
    background-color: rgba(0, 100, 150, 100);
    border: 2px solid black;
    border-radius: 10px;
    color: white;
  }
}

@media (max-width: 767px) {
  .Home {
    box-sizing: border-box;
    max-width: 95%;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem 2rem 1rem;
    background-color: rgba(0, 100, 150, 100);
    border: 2px solid black;
    border-radius: 10px;
    color: white;
  }
}

.Home-title {
  text-align: center;
  padding: 1em 0 0 0;
  margin: 0;
}

.Home-msg {
  text-align: center;
  padding: 1em 0 0 0;
  margin: 0;
}

.Home-msg-link {
  text-decoration: none;
  color: blue;
}

.Home-msg-link:hover {
  color: darkblue;
}

.Home-text {
  text-align: center;
  width: 60%;
  margin: 1.5rem auto;
  font-weight: 600;
}
