.ReplyDetails {
  box-sizing: border-box;
  margin: 1rem;
}

@media (min-width: 768px) {
  .ReplyDetails-card {
    width: 60%;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: rgb(160, 160, 160);
  }
}

@media (max-width: 767px) {
  .ReplyDetails-card {
    width: 95%;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: rgb(160, 160, 160);
  }
}

.ReplyDetails-title {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 100, 150, 100);
  border-radius: 10px;
  color: white;
}

.ReplyDetails-list {
  width: 100%;
  text-align: left;
  margin: auto;
}

.ReplyDetails-listItem {
  background-color: white;
}

.ReplyDetails-listHeading {
  padding: 0.5rem 0;
  margin: 0;
  background-color: white;
  border-radius: 10px;
}

.ReplyDetails-listText {
  margin-top: 0.5rem;
  margin-bottom: auto;
}

.ReplyDetails-btn {
  margin: 1rem 1rem 0 1rem;
}

.ReplyDetails-btn-link {
  text-decoration: none;
  color: white;
}

.ReplyDetails-btn-link:visited {
  color: white;
}

.ReplyDetails-link {
  color: white;
}

.ReplyDetails-link:visited {
  color: white;
}

.ReplyDetails-link:hover {
  color: blue;
}

.ReplyDetails-spinner {
  margin: 50%;
  align-self: center;
}

.ReplyDetails-list-reply {
  width: 90%;
  margin: auto;
}

.ReplyDetails-listItem-reply {
  background-color: rgba(0, 100, 150, 100);
  border: 1px solid rgba(0, 100, 150, 100);
}

.ReplyDetails-listHeading-reply {
  color: white;
}

.ReplyDetails-listItem-replyItem {
  background-color: lightgray;
}
